
doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title #{ViewModel.Slogan}

		link(rel="stylesheet" href='/stylesheets/bootstrap.min.css', media="screen")
		link(rel="stylesheet" href='/stylesheets/bootstrap-theme.min.css', media="screen")
		link(rel="stylesheet" href='/stylesheets/Site.css')
	body
		.navbar.navbar-default.navbar-fixed-top
			.container
				.navbar-header
					a.navbar-brand(href="../") #{ViewModel.ApplicationName}
					button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-main")
						span.icon-bar
						span.icon-bar
						span.icon-bar
				#navbar-main.navbar-collapse.collapse
					ul.nav.navbar-nav
						li: a(href="../help/")="Help"
						li: a(href="http://news.bootswatch.com")="Blog"
					ul.nav.navbar-nav.navbar-right
						li: a(href="http://builtwithbootstrap.com", target="_blank")="Built With Bootstrap"
						li: a(href="https://wrapbootstrap.com/?ref=bsw", target="_blank")="WrapBootstrap"
		.container
			hr
			block content
			hr
		footer
			p: span #{ViewModel.DeveloperNick} &copy; #{new Date()} #{ViewModel.ApplicationTitle} 
		script(src='/javascripts/jquery-2.1.3.min.js')
		script(src='/javascripts/bootstrap.min.js')
