
extends layout


block content
	.page-header: h1#container Oneness
		.jumbotron: h1
			p= ViewModel.Jumbotron
			p: a.btn.btn-primary.btn-lg= ViewModel.BeWithUs
	.row: .col-lg-7.col-lg-offset-3: .well
		each question in Model.Questions
			.panel.panel-primary
				.panel-heading
					span= ViewModel.QuestionTitle
					h3.panel-title= ViewModel.PleaseFindAMatch
				.panel-body
					form#quiz-form(method='post').form-inline: fieldset
						legend= question.Manifest.Sentences[0].Text
						.form-group
							.col-lg-4
								select#select.form-control
									each answer in question.Answers
										option= answer.Manifest.Sentences[0].Text
						.form-group
							.col-lg-4.pull-right: button.form-control.btn.btn-success(type="submit")= ViewModel.SaveSubmit
						.form-group
							.col-lg-4.pull-right: button.form-control.btn.btn-primary= ViewModel.CancelSubmit
							
